$primaryColor: #141347;
$secondaryColor: #ff9216;
$accentColor: #ff9a17;
$fontColor: #333;

$defaultFont: 'Saira', sans-serif;

$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;
